$mono: "Droid Sans Mono", sans-serif;
$sans: "Droid Sans", sans-serif;
$white: "#FFFFFF"; /*the post font color*/
$blue1: "#70B8FF"; /*the reply bg color*/
$blue2: "#9BCDFF"; /*the reply hover bg color*/
$blue3: "#00005C"; /*the post bg color*/
$blue4: "33337D"; /*the post hover bg color*/
$bg: "#D6EBFF"; /*the bg color*/
$black1: "#000000"; /*the black font color*/

.postpage {
    background-color: $bg;
}

.post {
    background-color: $blue3;
	width: 100%;
	p {
		font-color: $white;
		font-family: $sans;
	}

	:hover {
		background-color: $blue4;
	}
}

.post-subject {
	font-family: $sans;
	font-color: $white;
	font-size: 12pt;
}

.post-name {
	font-family: $sans;
	font-color: $white;
	font-size: 11pt;
}

.post-content {
	font-family: $sans;
	font-color: $white;
	font-size: 18pt;
}

.reply {
	background-color: $blue1;
	border-radius:15px;
	padding:10px 25px;
	p {
		font-color: $black1;
		font-family: $sans;
	}
	:hover {
		background-color: $blue2;
	}
	.selected: {
		width: 100%
	}
}

.reply-name {
	font-family: $sans;
	font-color: $black1;
	font-size: 10pt;
}

.reply-content {
	font-family: $sans;
	font-color: $black1;
	font-size: 12pt;
}

.chat {
	background-color: $bg;
	p {
		font-color: $black1;
		font-family: $sans;
	}
}

