<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/client/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/client/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/client/css/mboard.css" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans' rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}TuftsTalk{% endblock %}</title>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 header">
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					{% block main-body %}{% endblock %}		
				</div>
			</div>
		</div>
	</body>
		{% block scripts %}
		<!--<script src="/client/js/tuftstalk.js" type="text/javascript"></script>-->
		<script src="/client/js/bootstrap.min.js"></script>
		{% endblock %}
</html>
