{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block head %}
{% endblock %}
{% block post %}
<div class="row">
	<div class="panel panel-primary">
		<div class="post-name panel-heading">
			{{ post.author }} on {{ post.time}} wrote: <br />
			<hr />
			<h3>{{ post.content }}</h3>
		</div>
	</div>
</div>
{% endblock %}
{% block main-body %}
<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>
{% for reply in post.replies %}
<div class="row">
	<div class="col-md-11 alert alert-info reply">
		<div class="reply-name">{{ reply.author }}</div>
		<div class="reply-content">{{ reply.content }}</div>
	</div>
</div>
{% endfor %}
{% endblock %}
{% block textinput %}
<div class="input-group">
	<input type="text" class="form-control"></input>
	<span class="input-group-btn">
		<button class="btn btn-default">Send</button>
	</span>
</div>
{% endblock %}
